VestiModule(
    name: "coprime",
    version: Some("3.0.2"),
    exports: [
        ( name: "coprime-math.sty" ),
        ( name: "coprime-reference.sty" ),
        ( name: "coprime.cls" ),
        ( name: "fancythm.sty" ),
    ],
)
